<%= search_form_for(@query, url: search_path, method: :get, class:'d-flex') do |f| %>
  <div class="level-item">
  <div class="field has-addons">

    <%= f.search_field :title_cont, class: "input" %> 


    <button class="button">
      Search
    </button>
  <% end %>
  </div>
  </div>
