<div class="container">
<div class="box">

<p class="title is-1">Jobs</p>

<figure>
<p class="subtitle is-3">Blog build by ruby 2.7.6 with rails 7.0.4</p>
<%= image_tag ("line.png") %>
<p class="subtitle is-3">This position will be updated</p>
<%= image_tag ("line.png") %>
<%= image_tag ("didi.png") %>
</figure>
</div>
</div>