<div id="<%= dom_id post %>">

  <p><h3 class="title is-3"><%= post.title %> </h3></p>
<hr />
<div class="buttons">
  <%= button_to post.category.name, post.category, method: :get, type: :button, class: "button" %> 
</div>
  <div class="has-text-centered">
    <%= post.body %>
  </div>
  <hr />
</div>
