<div id="<%= dom_id post %>">

  <p><h2 class="title is-2"><%= post.title %> </h2></p>
<hr />
<div class="buttons">
  <%= button_to post.category.name, post.category, method: :get, type: :button, class: "button" %> 
  </div>
  <hr />
  <p class="subtitle is-2">
    <%= post.body %>
  </p>
  <hr />
</div>
