<div id="<%= dom_id post %>">
  <p>
    <h3>
    <%= post.title %> 
    </h3>
  </p>
<hr />
  <p>
  <%= button_to post.category.name, post.category, method: :get, type: :button, class: "button is-small" %> 
  </p>
  <hr />
  <p>
    <%= post.body %>
  </p>
  <hr />
</div>
