
<%= notice %>

<h1>Hidden programming laboratory</h1>


<div id="posts">
  <% @posts.each do |post| %>
    <div class="box">
    <%= render post %>
    <p>
      <%= button_to "Show this post", post, method: :get, type: :button, class: "button is-black" %>
    </p>
    </div>
  <% end %>
</div>
<br />

<% if user_signed_in? %>
<div class="column">
  <div class="content">
  <%= button_to "New post", new_post_path, method: :get, type: :button, class: "button is-black" %>
  </div>
</div>
<% end %>