<div class="container">
<div class="box">
<p class="title is-1">About</p>

<figure>
<p class="title is-2">Mateusz Seroka</p>
<p><i>I’m Dexter the Programmist</i></p>
<%= image_tag ("line.png") %>
<p class="title is-2">Work Experiences</p>
<p class="subtitle is-4">2023 - Hire me!</p>
<p class="subtitle is-4">Junior Ruby Developer</p>
<%= image_tag ("line.png") %>

<p class="title is-2">Technical Skills</p>
<p class="subtitle is-4">Web Technology</p>
<p class="subtitle is-4">HTML / CSS / Ruby</p>

<p class="subtitle is-4">Database</p>
<p class="subtitle is-4">PostrgresSQL</p>

<p class="subtitle is-4">Framework</p>
<p class="subtitle is-4">Ruby On Rails</p>
<%= image_tag ("line.png") %>
<%= image_tag ("tech.png") %>
</figure>

</div>
</div>