<div class="container">
<div class="box">
<h1 class="title is-1">Contact</h1>
<figure>
<p class="title is-2">Reach me</p>
<%= image_tag ("line.png") %>
<p class="subtitle is-4">by email - it.seroka@gmail.com</p>
<%= image_tag ("line.png") %>
<p class="subtitle is-4">by phone - 517 602 811</p>
<%= image_tag ("line.png") %>
<%= image_tag ("reach.png") %>
</figure>
</div>
</div>