<p style="color: green"><%= notice %></p>

<div class="box">
<h1 class="title is-1">Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <hr />
    <%= render category %>
    <p>
      <%= button_to "Show this category", category, method: :get, type: :button, class: "button is-fullwidth" %>
    </p>
  <% end %>
</div>
</div>
<% if user_signed_in? %>
<div class="column">
  <div class="content">
<%= button_to "New category", new_category_path, method: :get, type: :button, class: "button" %>
</div>
</div>
<% end %>
